<include file="Public/top" />
<include file="Public/header" />
<!--news-main-->
<div class="news-main">
    <div class="inner">
        <div class="base-line clearBoth">
            <div class="box fl"></div>
            <p class="fl">{:get_category($_GET['catid'],'title')}</p>
            <ul class="fr clearBoth">
              <?php for($i=87;$i<=89;$i++):?>
                <li <?php if($_GET['catid']==$i) echo "class='bg'";?> ><a href="{:U('Article/index',array('category'=>get_category($i,'name'),'catid'=>$i))}">{:get_category($i,'title')}</a></li>
              <?php endfor;?>
            </ul>
        </div>
        <div class="news-content">
            <div class="title">{$info['title']}</div>
            <p>发布时间：{$info.create_time|date='Y-m-d',###}<span>来源：数梦工场</span>浏览：{$info['view']}</p>
        </div>
        <div class="news-con">
            {$info['content']}
        </div>
        <div class="pre clearBoth">
          <article:next name="prev" info="info">
          <p class="fl">上一篇：<a href="{:U('?id='.$prev['id'].'&catid='.$_GET['catid'])}">{$prev['title']}</a></p>
          </article:next>
          <article:prev name="next" info="info">
          <p class="fr">下一篇：<a href="{:U('?id='.$next['id'].'&catid='.$_GET['catid'])}">{$next['title']}</a></p>
          </article:prev>
        </div>
    </div>
</div>
<include file="Public/footer" />
